#map{
    text-align: center;
    width: 50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/*  Style for the Legend */

