#map{
    text-align: center;
    width: 50%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/*  Style for the Legend */

#legend {
  background: #FFF;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.color {
  border: 1px solid;
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
}

.red {
  background: #C00;
}

.yellow {
  background: #FF3;
}

.green {
  background: #6F0;
}

.blue {
  background: #06C;
}

.purple {
  background: #63C;
}